/**
 * HTML TAGS
 */

 * {
    text-rendering: optimizeLegibility;
  }
  
  body {
    font-family: "Merriweather", serif;
    font-size: 22px;
    font-weight: 400;
    background-color: #080b1e
  }
  
  a,
  a:link,
  a:visited {
    color: #faa700;
  }

  h1, h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-decoration: underline;
  }
  
  h1 {
    font-size: 50px;
    letter-spacing: -2px;
    line-height: 50px;
    margin: 15px 0 30px 0;
    color: #9fef00;
  }
  
  h2 {
    font-size: 32px;
    color: #88cd08;
    letter-spacing: -1px;
    line-height: 43px;
    margin: 30px 0 4px -1.8px;
    text-align: justify;
    text-decoration: underline;
  }
  
  
  p {
    font-family: "Merriweather";
    color: #c6c8cb;
    font-size: 26px;
    letter-spacing: -1px;
    line-height: 28px;
    margin: 0 0 30px 0;
    text-align: justify;
  }
  
  
  strong {
    font-weight: 700;
  }
  
  small {
    font-size: 80%;
  }
  
  img {
    max-width: 100%;
    margin: 0 auto;
  }
  
  ol li {
    margin-bottom: 30px;
    color: #c6c8cb;
  }
  
  
  /**
   * CUSTOM CLASSES
   */
  
  .container {
    max-width: 700px
  }
  
  .divider {
    display: block;
    width: 325px;
    margin: 15px auto 15px auto;
    border: 0;
    border-top: 1px solid #CCC;
  }
  
  .text-align-center {
    text-align: center;
  }
  
  .hero-description {
    color: #868a92;
    letter-spacing: -0.1px;
    line-height: 25px;
    margin: 25px 0 45px 0;
    text-align: center;
    font-size: 24px;
  }
  
  .hero-image {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: 20px 0;
    -webkit-transition: -webkit-transform 4s ease-in-out;
  }

  .hero-image:hover {
    -webkit-transform: rotate(1440deg);
  }
  
  .hero-links a {
    display: inline-block;
    font-size: 24px;
    margin: 0 10px;
  }
  
  .margin-top-2 {
      margin-top: 35px;
  }

  .destaque{ 
    color: #9fef00;
    font-size: 28px;
    font-style: italic;
  }
  
  /**
   * RESPONSIVE
   */
  
  
  @media only screen and (max-width:767px) {
  
    h1 {
      font-size: 38px;
    }
  
    h2 {
      font-size: 26px;
      line-height: 1.2;
    }
  
    p {
      font-size: 20px;
      line-height: 26px;
    }

    .divider {
      margin: 25px auto 20px auto;
    }
  
    .hero-image {
      border-radius: 50%;
      width: 170px;
      height: 170px;
      margin: 25px 0;
    }

   .destaque{ 
    font-size: 22px;
  }
  
  
  }